<div class="row justify-content-center">
  <div class="col-8">
    <h1>Make Cocktail:</h1>
    <%= simple_form_for (cocktail) do |f| %>
    <%= f.input :name %>
    <%= f.submit "Make Coctail", class: "btn btn-primary btn-block mb-5" %>
    <% end  %>
  </div>
</div>
